# Ignore Gradle project-specific cache directory
.gradle

# Ingnore VScode specific directories
.vscode
bin

# Ignore Gradle build output directory
build

.idea
.DS_Store

# Kotlin sessions
.kotlin/

# PKCS12 keystore
src/main/resources/localhost.p12

# Secrets
src/main/resources/application-secrets.properties

# Logs
logs/
